.parent {
  min-height: 100vh;
  width: 100%;
  background: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card {

  height: 350px;
  width: 300px;
  background: #ffff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.centre {
}

.centre h3 {
  font-size: 17px;
  font-weight: 500;
}

.centre h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.centre h2 {
  font-size: 20px;
}

.centre .tag {
  display: flex;
  gap: 5px;
}

.centre .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;
  font-family: 400px;
  border-radius: 5px;
}

.botom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  padding-top: 15px;
}

.botom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}


.botom h3 {
  font-size: 17px;
}
.botom p {
  font-size: 12px;
  color: #8b8b8b;
}